body {
  background-color:rgb(223, 223, 223);
}

h1 {
 color: rgb(16, 0, 161);
}

h2{
  color:rgb(16, 0, 161);
  text-decoration: overline;
}

p {
  color:black;
}

a{
  color:rgb(255, 230, 0);
}

a:link{
  padding: 10px;
  text-decoration:none;
}

a:visited{
  color:rgb(255, 230, 0);
}

a:hover{
  color:white;
  font-size: 15px;
}
.title {
  padding: 30px 80px;
}

.navigation{
  padding: 10px 80px;
  background-color: rgb(0, 102, 161);
}

.section{
  padding:20px 30px;
  background-color:rgb(255, 250, 205);
}