body {
  background-color: rgb(255, 250, 205);
}

h1 {
 color: rgb(16, 0, 161);
}

p {

}

a {
  color: white;
}

.title {
  padding: 30px 80px;
}

.navigation{
  padding: 10px 80px;
  background-color: black;
}